<div>
  {{#if isDev}}
    <a href="/dev/{{idMsgView}}/details"><button>Back</button></a>
  {{else}}
    <a href="/company/{{idMsgView}}/details"><button>Back</button></a>
  {{/if}}
  <h1>Messages</h1>
  <div>
    {{#each messages}}
      {{#if this.transmitter.companyName}}
        <h4>{{this.transmitter.companyName}} write: </h4>
      {{else}}
        <h4>{{this.transmitter.name}} write: </h4>
      {{/if}}

      <p>{{this.message}}</p>


    {{!-- Falta validacion --}}
  {{!--   {{#if }} --}}
        <form action="/message/{{../idMsgView}}/delete" method="post">
          <input hidden name="messageId" value="{{this._id}}" type="text" />
          <button>Delete</button>
        </form>
   {{!--  {{/if}} --}}
    {{/each}}
  </div>
  <div>
    <form action="" method="post">
      <label for="message">Write your message:</label>
      <textarea name="message" id="message" cols="30" rows="10"></textarea>
      <button>Submit</button>
    </form>
  </div>
</div>