<div>
  {{#if isDev}}
    <a href="/dev/{{idMsgView}}/details"><button>View Details</button></a>
  {{else}}
    <a href="/company/{{idMsgView}}/details"><button>View Details</button></a>
  {{/if}}
  <h1>Messages</h1>
  <div>
    {{#each messages}}
      {{#if this.transmitter.companyName}}
        <h4>{{this.transmitter.companyName}} write: </h4>
      {{else}}
        <h4>{{this.transmitter.name}} write: </h4>
      {{/if}}

    {{#if this.isTransmitter}}
      <form action="/message/{{../idMsgView}}/edit" method="post">
        <input type="checkbox" name="msgId" value="{{this._id}}" checked hidden>
        <input type="text" name="updateMsg" id="editMsg" value="{{this.message}}">
        <button>Edit</button>
      </form>
      {{else}}
        <p>{{this.message}}</p>
      {{/if}}

    {{#if this.isTransmitter}}
      <form action="/message/{{../idMsgView}}/delete" method="post">
        <input hidden name="messageId" value="{{this._id}}" type="text" />
        <button>Delete</button>
      </form>
    {{/if}}

    {{/each}}
  </div>
  <div>
    <form action="/message/{{idMsgView}}" method="post">
      <label for="message">Write your message:</label>
      <textarea name="message" id="message" cols="30" rows="10"></textarea>
      <button>Submit</button>
    </form>
  </div>
</div>

<script>
  function refreshPage() {
        const isMessageFocused = document.activeElement.id === "message";
        const isEditFocused = document.activeElement.id === "editMsg";
        if (!isMessageFocused && !isEditFocused) {
          window.location.reload();
        }
      }

      setInterval(refreshPage, 10000);
</script>