<div>
  <h1>{{devDetails.name}} {{devDetails.secondName}} Details</h1>
  <div>
    <div>
      <img src="{{devDetails.img}}" alt="{{devDetails.name}}">
    </div>
    <p><span>Name: </span>{{devDetails.name}}</p>
    <p><span>Second Name: </span>{{devDetails.secondName}}</p>
    <p><span>email: </span>{{devDetails.email}}</p>
    <p><span>Telephone: </span>{{devDetails.telephone}}</p>
    <p><span>Location: </span>{{devDetails.location}}</p>
    <p><span>Experience: </span>{{devDetails.experience}}</p>
    <p><span>Description: </span>{{devDetails.description}}</p>
    <p><span>Tech Skills: </span></p>
    <ul>
      {{#each devDetails.techSkills}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p><span>Soft Skills: </span></p>
    <ul>
      {{#each devDetails.softSkills}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <a href="{{devDetails.resume}}">Resume</a>
    <a href="{{devDetails.linkedin}}">Linkedin</a>
    <a href="{{devDetails.facebook}}">Facebook</a>
    <a href="{{devDetails.twitter}}">Twitter</a>
    <p><span>Favourite Companys: </span></p>
    <p><span>Is currently working: </span>{{#if
        devDetails.isWorking
      }}Yes{{else}}No{{/if}}
    </p>

    {{#if isFavorite}}
      <form action="/company/{{devDetails._id}}/details" method="post">
        <input
          type="checkbox"
          value="{{devDetails._id}}"
          name="delDev"
          checked
          hidden
        />
        <button>Delete Fav</button>
      </form>
    {{else}}
      <form action="/company/{{devDetails._id}}/details" method="post">
        <input
          type="checkbox"
          value="{{devDetails._id}}"
          name="favDev"
          checked
          hidden
        />
        <button>Add to Fav</button>
      </form>
    {{/if}}
  </div>
</div>
<div>
   <a href='/message/{{devDetails.id}}'><button>Send Message</button></a> 
</div>