<div>
    <div>
    <p>Name: {{devDetails.name}}</h2>
    <p>Last Name: {{devDetails.secondName}}</h2>
    <p>Email: {{this.devDetails.email}}</p>
    <p>Tel: {{devDetails.tel}}</p>
    <p>Location: {{devDetails.location}}</p>
    <p>Experience: {{devDetails.experience}}</p>

    <form action="" method="post">
        <input type="radio" value="{{this.devDetails._id}}" name="markDev">
        <button>Add to Fav</button>
    </form>
    </div>
</div>