<div>
  <h1>Edit Company</h1>
<div>
  <form action="/company/profile/edit" method="post" enctype="multipart/form-data">
    <div>
      <label for="img">Logo Company: </label>
      <input type="file" name="img" id="img">
      <input type="text" name="existingImage" hidden value="{{company.img}}">
    </div>
    <div>
      <label for="companyName">Company Name</label>
      <input type="companyName" value="{{company.companyName}}" name="companyName" />
    </div>

    <div>
      <label for="email">Email</label>
      <input type="text" value="{{company.email}}" name="email" />
    </div>

    <div>
      <label for="description">Description</label>
      <input type="text" value="{{company.description}}" name="description" />
    </div>

    <div>
      <label for="telephone">Telephone</label>
      <input type="tel" value="{{company.telephone}}" name="telephone" />
    </div>

    <div>
      <label for="direction">Direction</label>
      <input type="text" value="{{company.direction}}" name="direction" />
    </div>

    <div>
      <label for="linkedin">Linkedin</label>
      <input type="text" value="{{company.linkedin}}" name="linkedin" />
    </div>

    <div>
      <label for="facebook">Facebook</label>
      <input type="text" value="{{company.facebook}}" name="facebook" />
    </div>

     <div>
      <label for="twitter">Twitter</label>
      <input type="text" value="{{company.twitter}}" name="twitter" />
    </div>

     <div>
      <label for="website">Web Site</label>
      <input type="text" value="{{company.website}}" name="website" />
    </div>


    <div>
        <label for="techStack">Tech Skills: </label>
        {{#each selectedTechStack}}
            <input type="checkbox" name="techStack" id="{{this}}" value="{{this}}" checked>
            <label for="{{this}}">{{this}}</label>
        {{/each}}
        {{#each deselectedTechStack}}
            <input type="checkbox" name="techStack" id="{{this}}" value="{{this}}">
            <label for="{{this}}">{{this}}</label>
        {{/each}}
    </div>

    <a href="/company/profile"><button>Go Back</button></a>
    <button>Update</button>
  </form>
    <button><a href="/company/profile/delete">Delete</a></button>
</div>