<div>
  <h1>{{companyUser.name}} Profile</h1>
  <div>
    <div>
      <img src="{{companyUser.img}}" alt="{{companyUser.name}}">
    </div>
    <p><span>Name: </span>{{companyUser.companyName}}</p>
    <p><span>email: </span>{{companyUser.email}}</p>
    <p><span>Telephone: </span>{{companyUser.telephone}}</p>
    <p><span>Location: </span>{{companyUser.direction}}</p>
    <p><span>Description: </span>{{companyUser.description}}</p>
    <p><span>Tech Stack: </span></p>
    <ul>
      {{#each companyUser.techStack}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <a href="{{companyUser.website}}">Web Site</a>
    <a href="{{companyUser.linkedin}}">Linkedin</a>
    <a href="{{companyUser.facebook}}">Facebook</a>
    <a href="{{companyUser.twitter}}">Twitter</a>
    <p><span>Developers Following: </span></p>
    <ul>
      {{#each companyUser.markedDevs}}
       <li><a href="/company/{{this._id}}/details">{{this.name}}</a></li>
      {{/each}}
    </ul>
  </div>
  <div>
    <a href="/company/profile/edit"><button>Edit Profile</button></a>
  </div>
</div>