<div>
    <h1>{{devUser.name}} Profile</h1>
    <div>
        <div>
            <img src="{{devUser.img}}" alt="{{devUser.name}}">
        </div>
        <p><span>Name: </span>{{devUser.name}}</p>
        <p><span>Second Name: </span>{{devUser.secondName}}</p>
        <p><span>email: </span>{{devUser.email}}</p>
        <p><span>Telephone: </span>{{devUser.telephone}}</p>
        <p><span>Location: </span>{{devUser.location}}</p>
        <p><span>Experience: </span>{{devUser.experience}}</p>
        <p><span>Description: </span>{{devUser.description}}</p>
        <p><span>Tech Skills: </span></p>
            <ul>
                {{#each devUser.techSkills}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        <p><span>Soft Skills: </span></p>
            <ul>
                {{#each devUser.softSkills}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        <a href="{{devUser.resume}}">Resume</a>
        <a href="{{devUser.linkedin}}">Linkedin</a>
        <a href="{{devUser.facebook}}">Facebook</a>
        <a href="{{devUser.twitter}}">Twitter</a>
        <p><span>Favourite Companies: </span></p>
            <ul>
                {{#each devUser.favouritesCompanies}}
                    <a href="/dev/{{this._id}}/details">{{this.companyName}}</a>
                {{/each}}
            </ul>
        <p><span>Is currently working: </span>{{#if devUser.isWorking}}Yes{{else}}No{{/if}}</p>  
    </div>
    <div>
        <a href="/dev/profile/edit"><button>Edit Profile</button></a>
    </div>
    
</div>